src/flows/Visit_report_from_Event-17.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Visit_Report_Team_Member</name>
        <label>Visit Report Team Member</label>
        <locationX>643</locationX>
        <locationY>637</locationY>
        <actionName>Visit_Report__c.New_Visit_Report_Team_Member</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Looping_through_Attendee_collection_for_Users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>User_Fault</targetReference>
        </faultConnector>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>newVisitReportID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>User__c</name>
            <value>
                <elementReference>thisUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Team_Role__c</name>
            <value>
                <elementReference>TeamMemberRole</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Access_Level__c</name>
            <value>
                <elementReference>TeamAccessLevel</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VisitResportAttendee</name>
        <label>VisitResportAttendee</label>
        <locationX>609</locationX>
        <locationY>345</locationY>
        <actionName>Visit_Report__c.New_Visit_Attendee</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Iterate_invitees</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Fault</targetReference>
        </faultConnector>
        <inputParameters>
            <name>Attendee__c</name>
            <value>
                <elementReference>thisAttendee.RelationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>newVisitReportID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Invalid_User_Count</name>
        <label>Invalid User Count</label>
        <locationX>122</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>i_User_Invalid</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_Attendee_collection_for_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InvalidAttendeeCount</name>
        <label>InvalidAttendeeCount</label>
        <locationX>313</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>i_Attendee_Invalid</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_invitees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valid_User_Test</name>
        <label>Valid User Test</label>
        <locationX>408</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>i_User_Valid</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Visit_Report_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ValidAttendeeCount</name>
        <label>ValidAttendeeCount</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>i_Attendee_Valid</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VisitResportAttendee</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>eventFIXEDid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00Ug0000003BRWv</stringValue>
        </value>
    </constants>
    <constants>
        <name>EX</name>
        <dataType>String</dataType>
        <value>
            <stringValue>x</stringValue>
        </value>
    </constants>
    <constants>
        <name>Linefeed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;/br&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <description>Visit Report Team Access Level</description>
        <name>TeamAccessLevel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Read Only</stringValue>
        </value>
    </constants>
    <constants>
        <description>Visit Report Team Member Role</description>
        <name>TeamMemberRole</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Visit Report Attendee</stringValue>
        </value>
    </constants>
    <decisions>
        <name>allow_contact_types_only</name>
        <label>allow contact types only</label>
        <locationX>560</locationX>
        <locationY>93</locationY>
        <defaultConnector>
            <targetReference>ValidAttendeeCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>invitee_is_NOT_a_contact_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invited_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvalidAttendeeCount</targetReference>
            </connector>
            <label>invitee is NOT a contact type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allow_Users_Only</name>
        <label>Allow Users Only</label>
        <locationX>219</locationX>
        <locationY>820</locationY>
        <defaultConnector>
            <targetReference>Valid_User_Test</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Invitee_is_NOT_an_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_User_Count</targetReference>
            </connector>
            <label>Invitee is NOT an User</label>
        </rules>
    </decisions>
    <description>Creates visit report with details from a (completed) event</description>
    <interviewLabel>Create visit report from Event with (filtered) Contacts and Invitees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create visit report from Event with (filtered) Contacts and Invitees</label>
    <loops>
        <name>Iterate_invitees</name>
        <label>Iterate invitees</label>
        <locationX>108</locationX>
        <locationY>339</locationY>
        <assignNextValueToReference>thisAttendee</assignNextValueToReference>
        <collectionReference>InviteeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_invitee_if_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Looping_through_Attendee_collection_for_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_through_Attendee_collection_for_Users</name>
        <label>Looping through Attendee collection for Users</label>
        <locationX>108</locationX>
        <locationY>441</locationY>
        <assignNextValueToReference>thisAttendee</assignNextValueToReference>
        <collectionReference>InviteeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_to_filter_the_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>confirm_Visit_Report_creation0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Visit_Report</name>
        <label>Visit Report</label>
        <locationX>105</locationX>
        <locationY>131</locationY>
        <assignRecordIdToReference>newVisitReportID</assignRecordIdToReference>
        <connector>
            <targetReference>Invitees</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Visit__c</field>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_Report__c</object>
    </recordCreates>
    <recordLookups>
        <name>Completed_Event</name>
        <label>Completed Event</label>
        <locationX>104</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Visit_Report</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventID</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>accountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ActivityDate</assignToReference>
            <field>ActivityDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Location</assignToReference>
            <field>Location</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoID</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_invitee_if_contact</name>
        <label>get invitee if contact</label>
        <locationX>413</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>allow_contact_types_only</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisAttendee.RelationId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Invited_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Invitees</name>
        <label>Invitees</label>
        <locationX>105</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_invitees</targetReference>
        </connector>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWhat</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EventRelation</object>
        <outputReference>InviteeCollection</outputReference>
        <queriedFields>EventId</queriedFields>
        <queriedFields>RelationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_to_filter_the_Users</name>
        <label>Lookup to filter the Users</label>
        <locationX>218</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allow_Users_Only</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisAttendee.RelationId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>thisUser</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>confirm_Visit_Report_creation0_0</name>
        <label>confirm Visit Report creation</label>
        <locationX>800</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>asdf_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Success! &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A new visit report has been created.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Linefeed}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Name:&lt;B&gt; &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Subject} &lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Visit date: &lt;FONT KERNING=&quot;1&quot;&gt;{!ActivityDate}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Reason: &lt;FONT KERNING=&quot;1&quot;&gt;{!Description}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Linefeed}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No. of Visit Attendees: &lt;FONT KERNING=&quot;1&quot;&gt;{!i_Attendee_Valid}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Non-Contact invitees : {!i_Attendee_Invalid}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Linefeed}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;No. of Contacts added to Visit Team: {!i_Attendee_Invalid}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Non-Contact Invitees added to the Visit Report : {!i_Attendee_Valid}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Linefeed}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Clicking &amp;quot;Finish&amp;quot; takes you to the new visit report.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>debug</name>
        <label>debug</label>
        <locationX>798</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>show1</name>
            <fieldText>InviteeCollection: {!InviteeCollection}
thisAttendee.RelationId: {!thisAttendee.RelationId}
Invited_Contact.LastName :: (Invited_Contact.Id)
{!Invited_Contact.LastName}({!Invited_Contact.Id})

Invitees: {!i_Attendee_Valid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>debug_0</name>
        <label>debug</label>
        <locationX>797</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>show1_0</name>
            <fieldText>thisAttendee.RelationId: {!thisAttendee.RelationId
Invited_Contact.LastName :: (Invited_Contact.Id)
{!Invited_Contact.LastName}({!Invited_Contact.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>debug_0_0</name>
        <label>debug</label>
        <locationX>462</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>show1_0_0</name>
            <fieldText>!thisAttendee.Id: {!thisAttendee.Id}
is NOT a contact</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>debug_0_1</name>
        <label>debug</label>
        <locationX>265</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>show1_0_1</name>
            <fieldText>InviteeCollection: {!InviteeCollection}
thisAttendee: {!thisAttendee}
WhoID:{!WhoID}
thisAttendee.RelationId:{!thisAttendee.RelationId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Show_Fault</name>
        <label>Show Fault</label>
        <locationX>801</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>showfault</name>
            <fieldText>Sorry, an unknown error occurred. 
No new visit report was created.

Subject: {!Subject}
Visit date: {!ActivityDate}
Reason: {!Description}
Contact: {!WhoID}

Please close this window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>User_Fault</name>
        <label>User Fault</label>
        <locationX>643</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>userFault</name>
            <fieldText>Sorry, an unknown error occurred. 
No new visit report was created.

Subject: {!Subject}
Visit date: {!ActivityDate}
Reason: {!Description}
Contact: {!WhoID}

Please close this window.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Completed_Event</startElementReference>
    <variables>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id+ &quot;x&quot; to verify if Attendee is present</description>
        <name>Attendee_check</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!WhoID} + &quot;x&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the calling event</description>
        <name>eventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventPARAMid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>i_Attendee_Invalid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>i_Attendee_Valid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>i_User_Invalid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>i_User_Valid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>contains ID if the invitee is a contact</description>
        <name>Invited_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>InviteeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newVisitReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit_Report__c</objectType>
    </variables>
    <variables>
        <name>newVisitReportID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>primAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit_Report_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>this_Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>thisAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>thisUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>WhoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
